{% extends 'base.html' %}

{% load bootstrap %}

{% block principal %}

<div class="row">
    <div class="col-md-5">
        <h3>Registro de Rotativos</h3>
        <form action="{% url 'est_cadastra_rotativo' %}" method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <div class="col-md-7">
        <h3>Listagem de Rotativos</h3>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            {% for rotativo in rotativos %}
            <tbody>
                <tr>
                    <td>{{ rotativo.checkin }}</td>
                    <td>{{ rotativo.checkout }}</td>
                    <td>{{ rotativo.valor_hora }}</td>
                    <td>{{ rotativo.veiculo }}</td>
                    <td>
                        <a href="{% url 'est_atualiza_rotativo' rotativo.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'est_deleta_rotativo' rotativo.id %}" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'est_lista_pessoas' %}">Pessoas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'est_lista_veiculos' %}">Veículos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'est_lista_rotativos' %}">Rotativos</a>
        </li>
    </ul>
{% endblock %}

